<body>
  <div class="container">
    <h1>QUOTABLES</h1><br>
    <hr>
    <ul>
      <div class="dimmer">
        <div class="row">
          <div class="col-md-9">
            <div class="card border-dark mb-3">
              <div class="card-header">
                <h2 class="text-center gratuitous">“In quoting others, we cite ourselves.” — Julio Cortazar
                </h2>
              </div>
              <div class="card-body">
                <div *ngFor='let quotes of sortedQuotes(); let i = index'>
                  <li style="list-style-type:none;" class="bolder">"{{quotes.actualQuote}}"
                  <li class="timePublish" style="list-style-type:none;">Published {{quotes.createTime|timeCounter}} days
                    ago</li>
                  <app-quotes-details class="quoteDetailStyle" *ngIf='quotes.showDescription' [quotes]='quotes'
                    (isComplete)='deleteQuote($event,i)'>
                  </app-quotes-details>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
          </div>
        </div>
      </div>
    </ul>
  </div>
</body>
<!-- <li appHighlight>{{quotes.actualQuote}} {{quotes.createTime}}</li> -->