.bolder{
  font-weight: bold;
}
h1 {
  font-size: 350%;
}

body {
    background-image: url("/src/assets/abstract.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

li {
  font-family: georgia, sans-serif;
  font-size: 170%;
  text-align: center;
}

.timePublish{
  font-size: 140%;
}
