.bolder {
  font-weight: bold;
}
h1 {
  font-size: 350%;
}
.dimmer {
  opacity: 0.8;
}

body {
    background-image: url(src/assets/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-attachment: fixed;
}
li {
  font-family: georgia, sans-serif;
  font-size: 170%;
  text-align: center;
}
.timePublish {
  font-size: 140%;
}
