<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="quoteAuth">
  Source: {{quotes.quoteAuthor}}, {{quotes.quoteSubmitter}}
</div><br>
<div class="text-center">
  <div class="value">
    <a class="blacken" href (click)="voteUp()">
      <i class="fa fa-thumbs-up"></i>
    </a>
    <p>{{ votes }} Points</p>
    <a class="blacken" href (click)="voteDown()">
      <i class="fa fa-thumbs-down"></i>
    </a>
  </div>
</div>
<button type="button" class="btn btn-danger rounded-pill float-right" (click)='quoteDelete(true)'>Delete Quote</button><br><br>
<hr color="black">